/* Importing the 'Poppins' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/* Defining CSS variables for theme colors */
:root {
    --primary-color: #6366f1; /* Main theme color */
    --secondary-color: #4f46e5; /* Secondary theme color */
    --success-color: #22c55e; /* Green color for success messages */


}