/* Importing the 'Poppins' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/* Defining CSS variables for theme colors */
:root {
    --primary-color: #6366f1; /* Main theme color */
    --secondary-color: #4f46e5; /* Secondary theme color */
    --success-color: #22c55e; /* Green color for success messages */
    --error-color: #ef4444; /* Red color for error messages */
    --background-color: #f8fafc; /* Light background */
    --text-color: #1e293b; /* Dark text color */
}

/* Reset default styles and apply global styles */

* {
    margin: 0;
    padding: 0;


